body {
    margin: auto;
    width: 640px; 
    padding: 30px;
    font-family: 'Montserrat', sans-serif; 
    color: #2E475D;  
    background-image: url('lime2.jpeg');
  }
  
  
  
  .heading h1 {
      font-size: 50px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      background-image: linear-gradient(to right, #3c709a 45%, #95da55);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
    .heading h2 {
      font-size: 50px;
      font-weight: bolder;
      font-family: "Montserrat", sans-serif;
      background-image: linear-gradient(to right, #3c709a 45%, #2ab42a);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
    .heading p{
      font-weight: bolder;
      line-height: 200%;
      font: size 50px;
      font-family: "Montserrat", sans-serif;
    }

    
/* Nav bar */
.topnav {
  background-color: rgba(247, 242, 242, 0.083);
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index:1000;
  }

  .topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
  }


.topnav a:hover {
  background-color: #ddd;
  color: black;
  }


.topnav a.split {
  float: right;
  background-color: #a4a4a4c9;
  color: white;
  font-weight: bold;
  }