body {
  margin: auto;
  width: 640px; 
  padding: 30px;
  font-family: 'Lexend Deca', sans-serif; 
  color: #2E475D;  
  background-image: url('lime2.jpeg');
}




.heading h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to right, #3c709a 45%, #95da55);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .heading h2 {
    font-size: 50px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to right, #3c709a 45%, #2ab42a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .heading p{
    font-weight: bolder;
    line-height: 200%;
    font: size 50px;
    font-family: "Montserrat", sans-serif;
  }